@{
    ViewBag.Title = "Index";
}
<link href="~/Content/LogIn.css" rel="stylesheet" />

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="signup-form">
                    <h2>登入</h2>
                    <form action="/LogIn/CheckMember" method="post" enctype="multipart/form-data">

                        <input type="text" name="Username" placeholder="帳號" />
                        <input type="password" name="Password" placeholder="密碼" />


                        <button type="submit" class="btn btn-default">登入</button>
                    </form>

                </div>
            </div>
            <div class="col-sm-2">
                <h2 class="or">或</h2>
            </div>
            <div class="col-sm-4">
                <div class=" signup-form">
                    <h2>註冊會員</h2>
                    <form action="/LogIn/Index" method="post" enctype="multipart/form-data">
                        <input type="text" name="MemberName" placeholder="姓名" />
                        <input type="text" name="Username" placeholder="帳號" />
                        <input type="password" name="Password" placeholder="密碼" />
                        <input type="email" name="Email" placeholder="Email" />

                        <button type="submit" class="btn btn-default">註冊</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
