/** {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/


#mscontainer{
    
    height:400px;
}
.masonry{
    width:600px;
    margin:30px auto;
}


.masonry .item { 
  width:  120px;
  height: 60px;
  float: left;
  background: #feb41b;
  border: 1px solid;
  border-color: #E0E0E0;
  border-radius: 5px;
  text-align:center;
  color:white;
  margin-bottom: 10px;
  padding:0;
  font-size:20px;
  font-weight:bold;
}
.item.w2 {  width:  180px;
  height: 60px;
  float: left;
  background: #feb41b;
  border: 1px solid;
  border-color: #E0E0E0;
  border-radius: 5px;
  text-align:center;/*上下也要*/
  color:white;
  margin-bottom: 10px;}


